@font-face {
    font-family: 'Gilroy Light';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Regular.woff2') format('woff2'),
    url('../fonts/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Rounded Bold';
    src: url('../fonts/GothamRounded-Bold.woff2') format('woff2'),
    url('../fonts/GothamRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('../fonts/GothamRounded-Book.woff2') format('woff2'),
    url('../fonts/GothamRounded-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Rounded BoldItalic';
    src: url('../fonts/GothamRounded-BoldItalic.woff2') format('woff2'),
    url('../fonts/GothamRounded-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Rounded-light';
    src: url('../fonts/GothamRounded-Light.woff2') format('woff2'),
    url('../fonts/GothamRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Rounded BookItalic';
    src: url('../fonts/GothamRounded-BookItalic.woff2') format('woff2'),
    url('../fonts/GothamRounded-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Rounded MediumItalic';
    src: url('../fonts/GothamRounded-MediumItalic.woff2') format('woff2'),
    url('../fonts/GothamRounded-MediumItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Rounded Medium';
    src: url('../fonts/GothamRounded-Medium.woff2') format('woff2'),
    url('../fonts/GothamRounded-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Rounded LightItalic';
    src: url('../fonts/GothamRounded-LightItalic.woff2') format('woff2'),
    url('../fonts/GothamRounded-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Rounded Light';
    src: url('../fonts/GothamRounded-Light.woff2') format('woff2'),
    url('../fonts/GothamRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
